.new-game {
  background-color: #cc2c00;
  padding: 20px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 20px;
  border-radius: 20px;
  margin-left: 100px;
}

.homes {
  display: flex;
}

.snowflake {
  width: 150px;
  margin: 0 20px;
}

.home-lyzari {
  display: flex;
  transform: translate(0, 50px);
}
.home-prazdny {
  width: 150px;
  height: 200px;
}
.lyzar-cerveny1,
.lyzar-zeleny1 {
  width: 150px;
  margin: 0 20px;
}

.infobublina {
  width: 300px;
  text-align: center;
  line-height: 1.5em;
  background-color: gray;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  font-size: 18px;
  color: white;
  margin: 0;
}

.player-1 {
  background-color: #cc2c00;
}

.player-2 {
  background-color: #16502d;
}

.dice {
  width: 8pc;
  height: 8pc;
}
.div-dice {
  display: flex;
  justify-content: center;
  align-items: center;
}
