.new-game {
  background-color: #a32300;
  padding: 20px;
  font-family: 'Jura', sans-serif;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 30px;
  border: 2px solid darkgrey;
  border-radius: 30px;
  transform: translate(100px, -10px);
  position: relative;
  cursor: pointer;
}

.new-game:before,
.new-game:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

.new-game:after {
  left: 38px;
  bottom: -30px;
  border: 15px solid;
  border-color: #a32300 transparent transparent #a32300;
}

.new-game:hover {
  color: black;
}

.homes {
  display: flex;
  margin: 0 30px 40px 30px;
}

.snowflake {
  width: 150px;
  margin: 0 20px;
}

.home-lyzari {
  display: flex;
  transform: translate(0, 50px);
}
.home-placeholder {
  width: 150px;
  height: 200px;
  margin: 0 20px;
}
.lyzar {
  width: 150px;
  height: 200px;
  margin: 0 20px;
}

.infobublina {
  width: 300px;
  height: 80px;
  text-align: center;
  line-height: 1.5em;
  border-radius: 10px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  font-size: 18px;
  color: white;
}

.infobtn {
  padding: 7px 20px;
  margin: 10px;
  border: 1px solid darkgrey;
  border-radius: 10px;
  background-color: white;
  font-size: 18px;
  font-family: 'Roboto', sans-serif;
}
.player-1 {
  background-color: #cc2c00;
}

.player-2 {
  background-color: #16502d;
}

.dice {
  width: 8pc;
  height: 8pc;
}
.div-dice {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 40px 0;
}
