.app {
  background-image: linear-gradient(#d5f6ff, #ffffff);
  min-height: 100vh;
}

h1 {
  font-family: 'Jura';
  font-size: 60px;
  color: #a32300;
  text-align: center;
  padding: 30px 0 20px 0;
  margin: 0px;
}
