.plan {
  background-image: url(./Podklady_svg/Pozadi_vybrane.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  width: 100vw;
}

.button {
  margin: 1em;
}

.player-1 {
  color: red;
}

.player-2 {
  color: #439a86ff;
}
