.plan {
  background-image: url(./Podklady_svg/pozadi.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  /* width: 100vw; */
  width: 400px;
  height: 400px;
}

.button {
  margin: 1em;
}

.bubble {
  border: 2px solid gray;
}

.player-1 {
  border-color: red;
}

.player-2 {
  border-color: #439a86ff;
}
