@import url('https://fonts.googleapis.com/css2?family=Jura:wght@400;700&family=Roboto:wght@300;400;900&display=swap');

h1 {
  margin-top: 0;
}

.plan {
  background-image: url(./Podklady_svg/pozadi.svg);
  background-size: 100%;
  background-repeat: no-repeat;
  /* width: 100vw; */
  width: 400px;
  height: 400px;
}

.button {
  margin: 1em;
}

.game {
  display: flex;
  padding: 30px;
}

.plan {
  flex-basis: 65%;
}

.sidebar {
  flex-basis: 35%;
  padding-left: 30px;
}
