.container {
  display: flex;
  flex-direction: row;
  flex: nowrap;
  justify-content: space-between;
  align-items: baseline;
}

.left-side {
  margin-left: 300px;
  margin-bottom: 400px;
}

.lyzar {
  width: 500px;
  height: 600px;
  padding: 0;
  margin: 0;
}

p.bubble {
  position: relative;
  max-width: 800px;
  text-align: center;
  line-height: 1.4em;
  margin: 40px auto;
  background-color: #cc2c00;
  border: 2px solid rgb(78, 77, 77);
  border-radius: 30px;
  font-family: 'Roboto';
  padding: 20px;
  font-size: large;
  color: white;
}

p.bubble:before,
p.bubble:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

p.ocas:before {
  left: 30px;
  bottom: -50px;
  border: 25px solid;
  border-color: #cc2c00 transparent transparent #cc2c00;
}

p.ocas:after {
  left: 38px;
  bottom: -30px;
  border: 15px solid;
  border-color: #cc2c00 transparent transparent #cc2c00;
}

button.bublina {
  position: relative;
  width: 200px;
  text-align: center;
  line-height: 1.4em;
  margin: 100px auto;
  background-color: #16502d;
  border: 2px solid #16502d;
  border-radius: 30px;
  font-family: sans-serif;
  padding: 20px;
  font-size: large;
}

button.bublina:before,
p.bublina:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

button.speech:before {
  left: 30px;
  bottom: -50px;
  border: 25px solid;
  border-color: #16502d transparent transparent #16502d;
}

button.speech:after {
  left: 38px;
  bottom: -30px;
  border: 15px solid;
  border-color: #16502d transparent transparent #16502d;
}

.snowman-uvodni {
  width: 300px;
  height: 400px;
  margin: 100px auto;
}
