.welcome {
  width: 100%;
  display: block;
  background-image: url(./pozadi.svg);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
  font-family: 'Roboto', sans-serif;
}

h2 {
  font-family: 'Jura', sans-serif;
  font-size: 18px;
  padding-bottom: 5px;
  margin: 0;
}

.pravidla {
  transform: translate(300px, 300px);
  position: relative;
  width: 300px;
  text-align: center;
  line-height: 1.4em;
  margin: 0px;
  background-color: #164450;
  border: 2px solid darkgrey;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  font-size: small;
  color: white;
}

/*.pravidla:before,
.pravidla:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}*/

.speech:before {
  left: 30px;
  bottom: -50px;
  border: 25px solid;
  border-color: darkgrey transparent transparent darkgrey;
}

.speech:after {
  left: 38px;
  bottom: -30px;
  border: 15px solid;
  border-color: #164450 transparent transparent #164450;
}

.privitani {
  transform: translate(150px, 250px);
  position: relative;
  max-width: 200px;
  text-align: center;
  line-height: 1.4em;
  margin: 0px;
  background-color: #d5f6ff;
  border: 2px solid darkgrey;
  border-radius: 30px;
  font-family: 'Roboto', sans-serif;
  padding: 20px;
  font-size: small;
  color: black;
}

.privitani:before,
.privitani:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

.rec:before {
  left: 30px;
  bottom: -50px;
  border: 25px solid;
  border-color: darkgrey transparent transparent darkgrey;
}

.rec:after {
  left: 38px;
  bottom: -30px;
  border: 15px solid;
  border-color: #d5f6ff transparent transparent #d5f6ff;
}

.bublina {
  transform: translate(600px, -300px);
  position: relative;
  max-width: 200px;
  max-height: 100px;
  text-align: center;
  margin: 0;
  background-color: #a32300;
  border: 2px solid darkgrey;
  border-radius: 30px;
  font-family: 'Jura', sans-serif;
  padding: 20px;
  font-size: 30px;
  color: white;
  cursor: pointer;
  box-shadow: 2px 3px 5px 0 rgba(0, 0, 0, 0.4);
}

.bublina:hover {
  color: grey;
}

/*button.bublina:before,
button.bublina:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}

button.start:before {
  left: 30px;
  bottom: -50px;
  border: 2px solid;
  border-color: darkgrey transparent transparent darkgrey;
}

button.start:after {
  left: 38px;
  bottom: -30px;
  border: 15px solid;
  border-color: #cc2c00 transparent transparent #cc2c00;
}*/

.snowman-uvodni {
  max-width: 200px;
  max-height: 300px;
  margin-left: 50px;
}

.logo {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid white;
  background-color: #164450;
  margin: 20px;
}

.footer {
  display: flex;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 50px 70px;
}

.container {
  margin: 30px 20px 10px 10px;
}

.paticka {
  margin: 0;
}

.attribution {
  font-size: 12px;
  margin: 0;
  font-style: italic;
}

@media screen and (max-width: 576px) {
  .welcome {
    min-width: 456px;
    width: 100%;
    padding: 0px;
  }

  .privitani {
    transform: translate(190px, -10px);
  }

  .snowman-uvodni {
    transform: translate(80px, -250px);
    margin-left: 0px;
  }

  .pravidla {
    transform: translate(90px, 280px);
    position: relative;
    width: 300px;
    line-height: 1.4em;
    margin: 0px;
  }

  .pravidla:before,
  .pravidla:after {
    display: none;
  }

  .bublina {
    transform: translate(10px, -400px);
  }

  .footer {
    padding: 0px;
    display: flex;
    justify-content: baseline;
  }

  .logo {
    margin: 0px;
  }

  .paticka {
    font-size: 10px;
  }

  .attribution {
    font-size: 8px;
  }
}

@media screen and (max-width: 768px) {
  .welcome {
    padding: 0px;
  }

  .privitani {
    transform: translate(220px, 100px);
  }

  .snowman-uvodni {
    transform: translate(100px, -170px);
    margin-left: 0px;
  }

  .pravidla {
    transform: translate(350px, 150px);
  }

  .pravidla:before,
  .pravidla:after {
    display: none;
  }

  .bublina {
    transform: translate(400px, -400px);
  }

  .footer {
    padding: 0px;
    display: flex;
    justify-content: baseline;
  }

  .logo {
    margin-left: 50px;
  }

  .paticka {
    font-size: 12px;
  }

  .attribution {
    font-size: 10px;
  }
}

@media screen and (max-width: 1024px) {
  .bublina {
    transform: translate(500px, -300px);
  }

  .pravidla {
    transform: translate(350px, 200px);
  }
}

@media screen and (min-width: 1024px) {
  h2 {
    font-size: 22px;
    padding-bottom: 10px;
    margin: 0;
    line-height: 1.5em;
  }

  .bublina {
    transform: translate(860px, -480px);
    max-width: 400px;
    max-height: 400px;
  }

  .privitani {
    transform: translate(170px, 350px);
    font-size: large;
    max-width: 300px;
  }

  .pravidla {
    transform: translate(550px, 300px);
    width: 400px;
    text-align: center;
    line-height: 1.5em;
    margin: 0px;
    background-color: #164450;
    border: 2px solid darkgrey;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    padding: 20px;
    font-size: large;
  }
}
